div
{
    border-radius: 5px;
    }
#header
{
    position: fixed;
    z-index: 1;
    height:40px;
    width: 98%;
    background-color: #668284;
    margin-bottom: 10px
    }
	table
{
	width:100%
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }
	#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #C1E3E1;
    }